:root {
    --Primary-Soft-orange: hsl(35, 77%, 62%);
    --Primary-Soft-red: hsl(5, 85%, 63%);

    --Neutral-Off-white: hsl(36, 100%, 99%);
    --Neutral-Grayish-blue: hsl(233, 8%, 79%);
    --Neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
    --Neutral-Very-dark-blue: hsl(240, 100%, 5%);

    --Weight4: 400;
    --Weight7: 700;
    --Weight8: 800;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

body {
    padding: 0px 15px;
    background: var(--Neutral-Off-white);
}

nav {
    /* border: 1px solid black; */
    padding: 25px 0px;
}

.nav_container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_nav {
    /* display: none; */
    position: fixed;
    top: 0;
    right: -100%;
    /* width: 68%; */
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: .4s ease;
}

.nav {
    position: absolute;
    height: 100%;
    /* border: 1px solid black; */
    width: 68%;
    right: 0;
    background: var(--Neutral-Off-white);
}

.close_ctn {
    /* border: 1px solid black; */
    text-align: right;
}

.close_btn {
    /* border: 1px solid black; */
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 30px;    
}

.dropdown_items {
    /* border: 1px solid black; */
    margin-top: 135px;
}

.dropdown_items li {
    /* border: 1px solid black; */
    list-style-type: none;
    margin: 15px;
    padding-bottom: 15px;
}

.dropdown_items li a {
    /* border: 1px solid red; */
    text-decoration: none;
    color: var(--Neutral-Very-dark-blue);
    font-weight: 500;
}

.dropdown_items li a:hover {
    color: var(--Primary-Soft-orange);
    cursor: pointer;
}

.img1 {
    width: 100%;
}

.desktop_img {
    display: none;
}

.header {
    /* border: 1px solid black; */
    font-size: 2.6rem;
    font-weight: var(--Weight8);
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro_text {
    /* border: 1px solid black; */
    font-size: 15px;
    color: var(--Neutral-Dark-grayish-blue);
    margin-bottom: 15px;
}

.read_btn {
    padding: 15px 0px;
    width: 54%;
    border: 1px solid var(--Primary-Soft-red);
    letter-spacing: 5px;
    font-weight: var(--Weight7);
    color: var(--Neutral-Off-white);
    background: var(--Primary-Soft-red);
    margin-top: 15px;
    margin-bottom: 50px;
}

.read_btn:hover {
    background: var(--Neutral-Very-dark-blue);
    cursor: pointer;
    border: 1px solid var(--Neutral-Very-dark-blue);
}

.question_ctn {
    border: 1px solid black;
    background: var(--Neutral-Very-dark-blue);
    padding: 22px 22px 0px 22px;
    margin-bottom: 70px;
}

.questions a {
    text-decoration: none;
}

.new_text {
    color: var(--Primary-Soft-orange);
    font-weight: var(--Weight7);
    font-size: 30px;
}

.question_ctn div h3 {
    color: white;
}

.question_ctn div p {
    color: var(--Neutral-Grayish-blue);
    font-size: 15px;
    padding-top: 10px;
}

.questions {
    border-bottom: 1px solid var(--Neutral-Dark-grayish-blue);
    padding: 40px 0px;
}

.questions h3:hover {
    color: var(--Primary-Soft-orange);
    cursor: pointer;
}

.questions:last-child {
    border: none;
}

.top_picks {
    display: flex;
    /* justify-content: left; */
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.picks_text a {
    text-decoration: none;
}

.picks_img_ctn img {
    width: 100px;
}

.top_picks h1, .top_picks h3, .top_picks p {
    padding-bottom: 9px;
    /* border: 1px solid black; */
}

.top_picks h1 {
    color: var(--Neutral-Grayish-blue);
    font-size: 32px;
}

.top_picks h3 {
    color: var(--Neutral-Very-dark-blue);
}

.picks_text h3:hover {
    color: var(--Primary-Soft-red);
    cursor: pointer;
}

.top_picks p {
    color: var(--Neutral-Dark-grayish-blue);
}

.desktop_menu {
    display: none;
}

@media screen and (min-width: 1000px) {
    body {
        padding: 0 10% 0px 10%;
    }

    .main_img {
        display: none;
    }

    .desktop_img {
        display: flex;
    }

    .img2 {
        /* border: 1px solid black; */
        width: 100%;
        height: 340px;
        object-fit: cover;
        object-position: top;
    }

    .nav_container {
        padding: 20px 0px 20px 0px;
    }

    .open_btn {
        display: none;
    }

    .close_ctn {
        display: none;
    }

    .desktop_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        margin: 0;
    }

    .desktop_menu li {
        padding: 0;
        padding-right: 40px;
        margin: 0;
    }

    .desktop_menu li:last-child {
        padding: 0;
        margin: 0;
    }

    .main_body {
        display: flex;
        gap: 40px;
        /* border: 1px solid black; */
        /* border: 1px solid black; */
    }

    .body1 {
        /* border: 1px solid black; */
        width: 150%;
    }

    .box1 {
        /* border: 1px solid black; */
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
        padding: 0;
        /* gap: 30px; */
        display: grid;
        grid-auto-flow: column;
        margin-top: 45px;
    }

    .question_ctn {
        /* border: 1px solid black; */
        width: 67%;
    }

    .questions p {
        line-height: 1.8;
    }

    .header_ctn {
        /* border: 1px solid black; */
        width: 80%;
    }

    .intro_ctn {
        /* border: 1px solid black; */
        margin-left: -76px;
    }

    .header {
        font-weight: var(--Weight8);
        font-size: 3.8rem;
        margin: 0;
        /* border: 1px solid black; */
        line-height: 1;
        /* width: 80%; */
    }

    .read_btn {
        margin-top: 20px;
    }

    .intro_text {
        /* border: 1px solid black; */
        line-height: 1.5;
    }

    .picks_ctn {
        display: flex;
        gap: 35px;
        /* align-items: center; */
        /* border: 1px solid black; */
        padding: 0;
    }

    .top_picks {
        /* border: 1px solid black; */
        /* width: 33.33%; */
        width: 100%;
        margin: 0;
        padding: 0;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1330px) {
    .main_body {
        /* border: 1px solid black; */
        margin-bottom: -20px;
        gap: 30px;
    }

    .desktop_menu li {
        padding: 0;
        padding-right: 17px;
        margin: 0;
    }

    .picks_ctn {
        /* border: 1px solid black; */
        gap: 14px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1023px) {
    .main_body {
        /* border: 1px solid black; */
        margin-bottom: -30px;
    }

    .picks_ctn {
        gap: 15px;
        margin-bottom: 20px;
    }
    
}